@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Vollkorn);

$white: #f6f6f6;
$white2: #f0f0f0;
$body: #252d28;
$accent1: #9e832f;
$accent2: #5c8a7c;
$action: #a36580;
$main_bg: #e8dbce;
$alt_bg: #c3cad1;
$body_shadow: rgba(104, 56, 0, 0.35);

* {
	box-sizing: border-box;

	*:before, *:after {
		box-sizing: inherit;
	}
}

html {
	font-size: 18px;
}

body {
	background-color: $main_bg;
	padding: 0;
	margin: 0;
	font-family: 'Vollkorn', serif;
	color: $body;
	position: relative;
	box-shadow: inset 0 0 5rem $body_shadow;

	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background-image: url(../img/texture.jpg);
		background-size: 50%;
		mix-blend-mode: color-burn;
		pointer-events: none;
	}
}

h1, h2, h3, h4 {
	font-family: 'Indie Flower', serif;
	margin: 0 0 1rem 0;
	color: $accent1;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
	line-height: 1;

	a {
		text-decoration: none;

		&:hover {
			cursor: pointer;
		}
	}
}

h1 {
	font-size: 4rem;
	text-align: center;
}

h2 {
	font-size: 3rem;

	span {
		display: block;

		em {
			display: inline-block;
			font-size: 0.8rem;
			font-family: 'Vollkorn', serif;
			font-style: normal;
			text-transform: uppercase;
			padding: 0.25rem 0.5rem;
			background-color: $accent2;
			color: $alt_bg;
			text-shadow: none;
			border-radius: 0.25rem;
		}
	}
}

a {
	color: $action;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
	display: inline-block;

	&:hover {
		transform: translate(2px, 2px);
		text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
	}
}

header[role="banner"] {
	max-width: 960px;
	margin: 0 auto;
	display: flex;

	img {
		max-width: 240px;
		margin-top: -20px;
		transform: rotate(-5deg);
	}
}

nav[role="navigation"] {
	flex: 1;

	ul {
		list-style: none;
		padding: 0 2rem;
		background-image: url(../img/strip.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		text-align: center;
		max-width: 600px;
		min-height: 175px;
		margin-left: auto;
		transform: rotate(1deg);
		display: flex;

		li {
			flex: 1;
			font-family: 'Indie Flower', cursive;
			padding-top: 1rem;

			&:nth-of-type(2n + 1) {
				transform: rotate(2deg);
			}

			&:nth-of-type(2n) {
				transform: rotate(-3deg);
			}

			a {
				display: inline-block;
				padding: 1rem;
				font-size: 1.75rem;
				color: $white;
				text-decoration: none;

				&:hover {
					color: $white2;
				}
			}
		}
	}
}

main {

	& > *:not(.full-width) {
		max-width: 960px;
		margin: 0 auto;
		padding: 0 2rem;
	}

	.full-width {
		position: relative;
		background-color: $alt_bg;
		margin: 2rem 0;
		box-shadow: inset 5rem 0 5rem -5rem $body_shadow, inset -5rem 0 5rem -5rem $body_shadow;

		&:before {
			position: absolute;
			content: '';
			height: 45px;
			width: 100%;
			background-image: url(../img/tear.svg);
			top: 0;
			box-shadow: inset 5rem 0 5rem -5rem $body_shadow, inset -5rem 0 5rem -5rem $body_shadow;
		}

		&:after {
			position: absolute;
			content: '';
			height: 45px;
			width: 100%;
			background-image: url(../img/tear.svg);
			transform: rotate(180deg);
			bottom: 0;
			box-shadow: inset 5rem 0 5rem -5rem $body_shadow, inset -5rem 0 5rem -5rem $body_shadow;
		}

		& > div {
			margin: 0 auto;
			max-width: 960px;
			padding: 4rem 2rem;
			display: flex;

			article {
				flex: 1;
				margin: 1rem;
			}
		}
	}

	.intro {
		font-size: 1.5rem;
	}
}

footer {
	min-height: 215px;
	max-width: 960px;
	background-image: url(../img/postit.svg);
	background-repeat: no-repeat;
	margin: 2rem auto 0 auto;
	padding: 2rem;
	color: #6F582A;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: flex-end;
	font-family: 'Indie Flower', serif;
	font-size: 1.25rem;

	span {
		display: block;
	}

	p {
		flex: 1;
		margin: 0;
		transform: rotate(-1deg);
	}

	address {
		flex: 1;
		margin: 0;
		text-align: right;
		font-style: normal;
		transform: rotate(1deg);
	}

	a {
		color: #6F582A;
	}
}
